/* login styles */
.login-container {
  display: flex;
  width: 540px;
  height: 550px;
  max-width: 99%;
  margin-left: 30%;
  margin-top: 10%;
  margin-bottom: 2%;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  background-color: #ffffff25;
  border-radius: 15px;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.03);
  border: 0.1px solid rgba(128, 128, 128, 0.178);
}

.login-box {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 500px;
  padding: 40px;
  height: 90%;
  transform: translate(-50%, -50%);
  /* background: rgba(13, 0, 87, 0.987); */
  box-sizing: border-box;
  border: 2px solid rgb(75, 75, 75);
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  color: white;
}

.login-box .user-box {
  position: relative;
}

.login-box .user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #000000;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}

.login-box .user-box label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #000000;
  pointer-events: none;
  transition: 0.5s;
}

.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label {
  top: -20px;
  left: 0;
  color: #000000;
  font-size: 12px;
}

.login-box form button {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #ffffff;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  width: 100px;
  transition: 0.5s;
  margin-top: 120px;
  margin-left: -67%;
  letter-spacing: 4px;
  background-color: #5e7eb6;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 2px 4px 8px rgba(70, 70, 70, 0.178);
}

.login-box button span {
  position: absolute;
  display: block;
}

.login-box button span::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(135deg, transparent, #fff, transparent);
  top: -110%;
  left: 0;
  transform: rotate(0);
  transition: 0.5s;
  filter: blur(20px);
}

.login-box button:hover span::before {
  top: 110%;
  transform: rotate(45deg);
}

.signup-link {
  color: #0d0086;
  font-size: 0.875rem;
  margin-top: 2%;
  margin-left: -62% !important;
  line-height: 1.25rem;
  text-align: center;
}

.signup-link a {
  color: #120055;
  text-decoration: underline;
}

/* Additional styles for the image container */
.img-container {
  width: 80%;
}

.img-container img {
  width: 100%;
  height: auto;
  margin-left: 30%;
}

/* Additional styles for the login container */
.login-box-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
