.navbar {
  position: fixed;
  background-color: rgb(219, 218, 218);
}

.navbar-brand {
  color: rgb(255, 255, 255) !important;
  font-size: 30px !important;
  font-weight: bolder !important;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.nav-link {
  color: rgb(255, 255, 255) !important;
  font-weight: bolder !important;
  font-family: cursive;
  margin: 12px;
}

.nav-link:hover {
  color: rgba(41, 39, 39, 0.826) !important;
}

.carousel-container {
  max-width: 100%;

  overflow: hidden;
}

.slide-content {
  object-fit: cover;
  /* Adjust to your needs (cover, contain, etc.) */
  width: 100%;
  height: 100%;
}

.sub {
  margin-top: 100px;
}

.OurFeatures {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: xxx-large;
  font-weight: bolder;
  color: #2c2c2cdd !important;
  font-stretch: extra-expanded;
}

.YourRide {
  margin-top: 100px;
  padding-top: 50px;
  padding-bottom: 40px;
  font-family: "Times New Roman", Times, serif;
  color: white;
  background: linear-gradient(90deg, #2c2c2cdd, #000);
  text-align: center;
  font-size: xxx-large;
  font-weight: bolder;
}

.GadgetsHead {
  margin-top: 100px;
  color: #2c2c2cdd !important;
}

.lh-1 {
  color: #2c2c2cdd !important;
}

.badge {
  background: linear-gradient(90deg, #2c2c2cdd, #000);
}

.beforefoot {
  margin-top: 100px;
}

.PetrolHead {
  margin-top: 100px;
  color: #2c2c2cdd !important;
}

.myBG {
  background: linear-gradient(90deg, #2c2c2cdd, #000);
  color: white;
}

.site-footer {
  text-align: center;
  margin-top: 100px;
  padding-top: 30px;
  padding-bottom: 20px;
  background: linear-gradient(90deg, #2c2c2cdd, #000);
  color: white;
  text-decoration: none;
}

.footer_text {
  color: white;
  text-decoration: none;
  font-size: 30px !important;
  font-weight: bolder !important;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

/* Apply the desired color to the scrollbar */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background-color: #2c2c2cdd;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #2c2c2c;
}
