/* products.css */

/* Global Styles */
.container {
  padding: 20px;
}

/* Content Styles */
.daraz-card-content {
  padding: 15px;
}

.daraz-card-title {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 10px;
}

.daraz-card-description {
  font-size: 14px;
  color: #777;
  margin-bottom: 15px;
}

.daraz-card {
  border: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  transition: transform 0.2s;
  cursor: pointer;
  overflow: hidden;
  position: relative;
}

.daraz-card:hover {
  transform: translateY(-5px);
}

/* Image Styles */
.daraz-card .card-img-top {
  max-width: 100%;
  height: 200px;
  object-fit: cover;
}

/* Content Styles */
.daraz-card-content {
  padding: 15px;
}

/* Price Styles */
.daraz-card-price {
  font-weight: bold;
  color: #150050;
  margin-top: 10px;
}

/* ... */

/* Price Ribbon Styles */
.ribbon {
  position: absolute;
  top: 10px;
  left: 1px;
  background-color: #2c2c2cdd;
  color: white;
  padding: 5px 10px;
  /* border-radius: 3px; */
  font-weight: bold;
  font-size: 16px;
  /* transform: rotate(45deg); */
}

/* "Add to Cart" Button Styles */
.add-to-cart-btn {
  /* ... */
  display: flex;
  align-items: center;
  justify-content: center;
  background-color:  #2c2c2cdd;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-weight: bold;
  transition: background-color 0.2s;
  cursor: pointer;
  position: relative;
}

.add-to-cart-btn:hover {
  /* ... */
  background-color: #2c2c2cdd;
}
