.service__item {
  border: none;
  background-color: #f8f9fa;
  border-radius: 10px;
  padding: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.service__item:hover {
  transform: translateY(-5px);
}

.icon-container {
  background-color: #000d6b;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 1rem;
}

.service-icon {
  font-size: 1.5rem;
  color: white;
}

.card-title {
  font-size: 1.2rem;
  font-weight: 600;
  transition: color 0.3s;
}

.card-title:hover {
  color: #000d6b;
}

.section__description {
  font-size: 0.9rem;
}
