/* Container styling */
.container {
  padding: 50px;
}

/* Product image section */
.image-section-container {
  margin-bottom: 20px;
}

/* Product title */
.product-title {
  font-size: 24px;
  margin-bottom: 10px;
}

/* Product price */
.product-price {
  font-size: 18px;
  margin-bottom: 10px;
}

/* Product description */
.product-description {
  margin-bottom: 20px;
}

/* Product rating */
.product-rating {
  margin-bottom: 20px;
}

/* Quantity selection */
.product-quantity {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  width: 28%;
}

.quantity-button {
  padding: 5px 10px;
  background-color: #f0f0f0;
  border: none;
  cursor: pointer;
}

.quantity-value {
  margin: 0 15px;
}

.add-to-cart-button {
  padding: 5px 10px;
  background-color: rgb(63, 63, 63);
  color: #fff;
  border: none;
  cursor: pointer;
  width: 30% !important;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.add-to-cart-button:hover {
  background-color: #555;
}

/* Customer reviews section */
.customer-reviews {
  margin-top: 20px;
}

.review-heading {
  font-size: 20px;
  margin-bottom: 10px;
}

/* Rating input */
.rating-input {
  margin-bottom: 20px;
}

/* Submit review button */
.submit-button {
  text-align: left;
  width: 40% !important;
  background-color: #ffffff !important;
  margin-top: 20px;
}

.related-product-card {
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 20px;
  text-align: center;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;
  height: 100%; /* Set a fixed height for cards */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.related-product-card img {
  width: 100%; /* Make the image fit the container width */
  height: auto; /* Allow the image to scale proportionally */
  object-fit: contain; /* Ensure the image fits inside without distortion */
  max-height: 150px; /* Limit the maximum height of the image */
  margin-bottom: 10px; /* Add some spacing between the image and content */
}

.related-product-title {
  font-size: 18px;
  margin-top: 10px;
}

.related-product-price {
  font-size: 16px;
  color: rgb(1, 0, 75);
  margin-top: 5px;
}

.related-product-add-to-cart-button {
  margin-top: 10px; /* Add space between content and button */
  padding: 10px 20px;
  background-color: rgb(1, 0, 75);
  margin: 0 auto; /* Center-align the button horizontally */
  display: block;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: inline-block;
  font-weight: 600;
  border-radius: 4px;
}

.related-product-add-to-cart-button:hover {
  background-color: #494949;
}
