/* Category Container */
.category-container {
    margin-top: 10% !important;
    max-width: 800px;
    margin-left: 50% !important;
    /* margin: 0 15px; */
    padding: 20px;
  }
  
  /* Category Header */
  .category-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #002246;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 20px;
  }
  
  .category-title {
    font-size: 24px;
    font-weight: bold;
    color: white;
  }
  
  /* Category Table Container */
  .category-table-container {
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: white;
    padding: 20px;
  }
  
  /* Category Table */
  .category-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .category-table th,
  .category-table td {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: left;
  }
  
  .category-image {
    max-height: 5vh;
    object-fit: contain;
  }
  
  .category-update {
    display: flex;
    align-items: center;
  }
  
  .update-button,
  .delete-button {
    display: flex;
    align-items: center;
    transition: background-color 0.3s, color 0.3s, transform 0.3s;
  }
  
  .update-button:hover,
  .delete-button:hover {
    background-color: #dc3545;
    color: #fff;
    transform: scale(1.1);
  }

  /* Category.css */
.category-modal-button {
  background-color: #343a40;
  border-color: #343a40;
}

.category-modal-button:hover {
  background-color: #2c3136;
  border-color: #2c3136;
}

.category-modal-title {
  color: #343a40;
}

.category-modal-body {
  padding: 20px;
}

.category-modal-form-label {
  color: #343a40;
}
.button{
    background-color: #d41010;
    color: #0056b3;
}
.category-modal-submit-button {
  background-color: #007bff;
  border-color: #007bff;
}

.category-modal-submit-button:hover {
  background-color: #0056b3;
  border-color: #0056b3;
}

/* Additional styles to center the modal content */
.modal-dialog {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}
